/***
General stylesheet for all
web pages in the website
*/

/*
all body elements have centered text in sans-serif font
*/
body {
    text-align: center;
    font-family: sans-serif;
    background: #333333; /* dark gray */
    color: #FFD4AE; /* beige */
}

